<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Flickr Photo Sets <loading-balls class="pull-right"></loading-balls></div>
        </div>

        <photoset-list list-class="breadcrumb" set="photoset"></photoset-list>

        <div class="row">
            <div class="col-lg-3">
                <photoset-thumbnails ng-show="photoset" thumbnail-class="img-thumbnail"
                                     photo="photo" set-id="{{photoset.id}}">
                </photoset-thumbnails>
            </div>

            <div class="col-lg-9">
                <photoset-slideshow photo="photo"></photoset-slideshow>
            </div>
        </div>
    </div>
</div>